.messages-container {
    width: 100%;
    padding: 15px;
    flex-grow: 1;
    /* margin: 50px; */
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    background-color: rgb(216, 216, 221);
    flex-direction: column;
    height: 73vh;
    overflow: auto;
}
/* .messages-container {
    text-align: center;
    width: 100%;
    padding: 16px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    margin: 10px 0; */
/* } */
